.App {
  text-align: center;
}

.App-logo {
/*  animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
  pointer-events: none;
}

.App-button {
  margin-top:.5em;
/*  animation: App-logo-spin infinite 20s linear; */
  width: 100%;
  height: 3em;
}

.App-back-link {
  color: white;
  font-size: 1em;
}

.App-back-link:visited {
  color: white;
}

.App-button-link {
  width: 25%;
}

.App-text-input {
  padding: .25em;
  margin-top: 1em;
  display: block;
  width: 75%;
  font-size:2.5em;
  border: none;
  border-radius: 0;
  background: "dary-grey";
  /*
  font-size: $width/15;
  border-bottom: solid $width/150 rgba(white, .5);
  padding-top: $width/15;
   * */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#input-hider{
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}

